@font-face {
    font-family: "Noto Serif";
      src: url("../rsrc/NotoSerif.ttf");
}
@font-face {
    font-family: "Noto Serif";
      src: url("../rsrc/NotoSerifItalic.ttf");
    font-style:italic;
}

:root {
  --main-color: 255,255,255;
}

body, html {
  text-shadow:0px 0px 0.1rem rgba(0,0,0,0.3), 0px 0px 5px rgba(0,0,0),0px 0px 2px rgba(0,0,0);
  height: 100%;
  font-family: 'Noto Serif', serif;
  overflow: hidden;
  font-weight: 300;
  color: rgb(var(--main-color));
}

* {
  font-family: 'Noto Serif', serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

p{
  font-family: 'Noto Serif', serif;
  font-weight: 400;
}

fstretch {
    display: inline-block;
    transform-origin: 0 100%;
    height = 50%;
    -webkit-transform: scale(1,0.5);
    -moz-transform: scale(1,0.5);
    -ms-transform: scale(1,0.5);
    -o-transform: scale(1,0.5);
    transform: scale(1,0.5);
}


.bg-image {
  /* The image used */
  background-image: url("../rsrc/bg/index.webp");

  /* Add the blur effect */
  /*filter: blur(0.5vh) brightness(60%);*/
  /* Full height */
  height: 110%;
  margin: -4vh -4vh -4vh -4vh;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

.bg-image::before{
  content: "";
  position: absolute;
  inset: 0;
  backdrop-filter: blur(4px) brightness(70%) contrast(120%)
}

.blank{
  filter: none;
}

.main{
  background-color: rgba(var(--main-color),0.1);
  position: relative;
  height:100%;
  width: 100%;
  max-width: 40rem;
  margin: auto;
}

.main::before{
  background-color: rgba(var(--main-color),0.7);
  content: "";
  position: absolute;
  inset: 0;
  mix-blend-mode: overlay;
  z-index: 0;
  backdrop-filter: blur(5px) brightness(60%) grayscale(1)  ;
}


.container{
  filter: drop-shadow(0 0 0.1rem rgba(0, 0, 0, 0.2));
  width: 100%;
  position: absolute;
  top: 45%;
  transform: translate(0, -50%);
  isolation:isolate;
}

.banner {
  color: rgb(var(--main-color));
  text-align: left;
}


hr{
  clear: both;
}


hr.grad1 {
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(var(--main-color),1) 0%, rgba(var(--main-color),0) 100%);
  height: 2.5px;
}

hr.grad2 {
  background: rgb(255,255,255);
  background: linear-gradient(-90deg, rgba(var(--main-color),1) 0%, rgba(var(--main-color),0) 100%);
  height: 2.5px;
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(var(--main-color)); /* Fallback color */
  background-color: rgba(var(--main-color), 0.2); /* Black w/opacity/see-through */
  color: rgb(var(--main-color));
  border: 0px solid #f1f1f1;
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  text-align: center;
}
