@font-face {
    font-family: "Noto Serif";
      src: url("../rsrc/NotoSerif.ttf");
}
@font-face {
    font-family: "Noto Serif";
      src: url("../rsrc/NotoSerifItalic.ttf");
    font-style:italic;
}
.stroke {
	@include stroke-width(2px);
	@include stroke-color($stroke);
	color: transparent;
}
@mixin stroke-width($property) {
	-webkit-text-stroke-width: $property;
	-moz-text-stroke-width: $property;
}

@mixin stroke-color($property) {
	-webkit-text-stroke-color: $property;
	-moz-text-stroke-color: $property;
}

:root {
  --main-color: 255,255,255;
  --light-color: 255,255,255;
  --shadow: 0px 0px 0.5rem rgba(0,0,0,1)
}

body, html {
  text-shadow:var(--shadow);
  height: 100%;
  font-family: 'Noto Serif', serif;
  overflow: hidden;
  font-weight: 400;
  color: rgb(var(--main-color));
  font-size: 100%;
}


* {
  font-family: 'Noto Serif', serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

p{
  font-family: 'Noto Serif', serif;
  font-weight: 400;
}

fstretch {
    display: inline-block;
    font-size: 2.5rem;
    transform-origin: 0 100%;
    height = 50%;
    -webkit-transform: scale(1,0.5);
    -moz-transform: scale(1,0.5);
    -ms-transform: scale(1,0.5);
    -o-transform: scale(1,0.5);
    transform: scale(1,0.5);
}

fstretch2 {
    display: inline-block;
    font-size: 2.5rem;
    transform-origin: 0 000%;
    height = 50%;
    -webkit-transform: scale(1,0.5);
    -moz-transform: scale(1,0.5);
    -ms-transform: scale(1,0.5);
    -o-transform: scale(1,0.5);
    transform: scale(1,0.5);
}


.bg-image {
  /* The image used */
  background-image: url("../rsrc/bg/index.webp");

  /* Add the blur effect */
  /*filter: blur(0.5vh) brightness(60%);*/
  /* Full height */
  height: 110%;
  margin: -4vh -4vh -4vh -4vh;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

.bg-image::before{
  content: "";
  position: absolute;
  inset: 0;
  backdrop-filter: blur(4px) brightness(60%) contrast(120%)
}

.blank{
  filter: none;
}

.main{
  background-color: rgba(var(--main-color),0.05);
  position: relative;
  height:100%;
  width: 100%;
  max-width: 45rem;
  margin: auto;
}

.main::before{
  background-color: rgba(var(--main-color),0.4);
  content: "";
  position: absolute;
  inset: 0;
  mix-blend-mode: overlay;
  z-index: 0;
  backdrop-filter: brightness(75%) grayscale(0.9) contrast(100%) blur(5px) ;
}

.main::after{
  content: "";
  position: absolute;
  inset: 0;
  mix-blend-mode: overlay;
  z-index: 0;
  backdrop-filter: brightness(75%) grayscale(0.9) contrast(100%) b
}


.container{
  width: 100%;
  position: absolute;
  top: 45%;
  transform: translate(0, -50%);
  isolation:isolate;
}

.banner {
  color: rgb(var(--main-color));
  text-align: left;
}


hr{
  clear: both;
}


hr.grad1 {
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(var(--main-color),1) 0%, rgba(var(--main-color),0) 100%);
  height: 2.5px;
}

hr.grad2 {
  background: rgb(255,255,255);
  background: linear-gradient(-90deg, rgba(var(--main-color),1) 0%, rgba(var(--main-color),0) 100%);
  height: 2.5px;
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(var(--main-color)); /* Fallback color */
  background-color: rgba(var(--main-color), 0.12); /* Black w/opacity/see-through */
  color: rgb(var(--main-color));
  border: 0px solid #f1f1f1;
  width: 100%;
  padding: 1.5rem;
  font-size: 1rem;
  text-align: left;
}

.pseudopad{
  height:100%;
  width:1.5rem;
  min-width: 1.5rem;
}


.sideflexcontainer{
  display: flex;
}

.btncontainer{
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 1.5rem;

}

.btn1{
  display: flex;
  background-color: rgb(var(--main-color));
  width: 11rem;
  height: 11rem;
  box-shadow:var(--shadow);
  flex-direction: column-reverse;
  padding: 0.1rem 0.2rem;
  flex: 0 0 0;
}

.btn1::before{
  flex: 0 1 min-content;
  inset: 0;
  content: attr(data-bg-text);
  color: black;
  text-shadow: none;
  display: inline-block;
  align-self: flex-start;
  font-size: 2rem;
  font-weight: 700;
  transform-origin: 0 100%;
  font-style:italic;
  color:rgba(0,0,0,1);
  -webkit-text-stroke: 1px black;
  -o-transform: scale(1,0.5);
  transform: scale(1,0.5);
}

.btn1::after{
  flex: 0 1 min-content;
  inset: 0;
  content: attr(data-bg-text);
  color: black;
  text-shadow: none;
  display: inline-block;
  align-self: flex-start;
  font-size: 2rem;
  font-weight: 700;
  transform-origin: 0 300%;
  font-style:italic;
  color:rgba(0,0,0,0);
  -webkit-text-stroke: 1px black;
  transform: scale(1,0.5);
  filter: drop-shadow(0 -2rem 0 rgba(0,0,0,0.66)) drop-shadow(0 -4rem 0 rgba(0,0,0,0.4356));
}
